
.footer p {
    margin: 0;
}

/* Responsive design for smaller screens */
@media (max-width: 78px) {
    .footer {
        padding: 1.5rem; 
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 1.5rem; 
        font-size: 0.8rem; 
    }
}
