.about-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10vw;
}

.left-side, .right-side {
    flex: 1;
    padding: 1rem; 
}

.left-side {
    padding-right: 2rem; 
}

.right-side {
    padding-left: 2rem; 
}

.description, .fun-fact, .portfolio, .lets-talk {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

h1, h2 {
    margin-bottom: 1rem; 
}

.right-side a {
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
}

.right-side a:hover {
    text-decoration: underline; 
}
