.App {
  min-width: 90vw; /* Adjusted to account for the navbar */
  min-height: 100vh; /* Full viewport height */
  background-color: #282e3c;
  color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10vw; /* Creates space for the navbar */
}