.tech-stack-container {
    padding: 2rem; 
    border-radius: 5px;
}

.tech-stack-container h1 {
    margin-bottom: 1rem;
}

.tech-stack-container p {
    font-size: 1.5rem; 
    font-weight: bold; 
}
