<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batmovie Recommender System</title>
</head>
<body>
    <h1>Batmovie: Movie Recommender System</h1>

    <!-- User input form to select movie for recommendations -->
    <form action="/recommend" method="POST">
        <label for="movie">Select a movie:</label>
        <select name="movie" id="movie">
            <!-- Generate options from the movies passed by Flask -->
            {% for title in movies %}
                <option value="{{ title }}">{{ title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Recommend">
    </form>

    <!-- Display recommended movies if available -->
    {% if recommendations %}
        <h2>Recommended Movies:</h2>
        <ul>
            {% for image_link, movie_title in recommendations %}
                <li>
                    <img src="{{ image_link }}" alt="{{ movie_title }}" style="width:100px; height:auto;">
                    {{ movie_title }}
                </li>
            {% endfor %}
        </ul>
        {% elif recommendations == [] %}
        <p>"Sorry! Movie not found in the database, please search for different movie or try alternate spelling."</p>
    {% endif %}
</body>
</html>
