.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin-top: 1rem;
    margin-bottom: 10%;
}

.search-bar {
    background-color: #fefefe;
    width: 90%; 
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.card-box {
    width: 10rem; 
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    background-color: white;
    color: black;
    width: 100%; 
    height: 16rem;
    background-size: cover;
    background-position: center;
    border-color: black;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: '2rem';
    
    b {
        text-align: center;
        word-wrap: break-word; 
        width: 100%;
    }
}

button {
    background-color: #fefefe;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .search-bar {
        width: 75%; 
        font-size: 1.1rem; 
    }

    .card {
        width: 10em;
        height: 18rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.4rem;
    }
}

@media (max-width: 480px) {
    .search-bar {
        width: 75%; 
        font-size: 1rem; 
    }

    .card {
        width: 100%; 
        height: auto;
    }

    button {
        font-size: 0.85rem; 
        padding: 0.3rem;
    }
}
